body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 15px 15px 0px;
    color: #333;
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    color: white;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1950px;
    /* margin: 0 auto; */
}

.history-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0px;
    border: 1px solid #dfe1e6;
    border-radius: 4px;
    margin-bottom: 10px;
}

#sortField {
    height: 42px;
}

.history-executor {
    background: #e6e6ff;
}

.history-theme {
    background: #fff5e6;
}

.history-description {
    background: #fadce8;
    /* Розовый для описания */
}

.history-deadline {
    background: #e6faff;
    /* Голубой для срока выполнения */
}

.history-status {
    background: #e6ffe6;
    /* Зелёный для статуса */
}

.history-comment {
    background: #e6f3ff;
    /* Синий для комментариев */
}

.history-other {
    background: #fbfde6;
    /* Серый для прочего */
}

.history-file {
    background: #fff0e6;
    /* Оранжевый для файлов */
}


.history-date {
    font-size: 12px;
    color: #5e6c84;
    min-width: 80px;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0079bf;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

#addComment.loading::after,
#saveBtn.loading::after {
    content: '';
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(158, 255, 231);
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.notification.show {
    opacity: 1;
}


.deadline-red {
    color: #FF0000;
    /* Красный для дедлайнов ≤2 дней */
}

.deadline-yellow {
    color: #b1b100;
    /* Жёлтый для дедлайнов ≤7 дней */
}

.deadline-green {
    color: #008100;
    /* Зелёный для выполненных задач/подзадач */
}

.subtask-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 12px;
}

.subtask-circle.yellow {
    background-color: #FFFF00;
    color: #000000;
}

.subtask-circle.red {
    background-color: #FF0000;
    color: #FFFFFF;
}

.subtask-circle.green {
    background-color: #00FF00;
    color: #000000;
}